/* You can add global styles to this file, and also import other style files */
th[sortable]{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: '';
  display: block;
  color: white;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAA60lEQVRIie3T0S4DQRiG4b2CipBFtRQhEnFdbpMjJz2iFCVFCHETj5NpTDaz3bVtz/ZN5uj/5ntnZzNZ1tLSBOQYhpWvUnLrjzF2Vi2Z8YDusiRbGCUky5PVkMx4bCxDN5y2yE9Yi38ZtnGXKPvGOU7xmZg/Yfc/kvtEyRfOotwJPkpkvSpJD5PE5nccJ/IDTBP5KQZlkn6J5A1Hcw63j5dasiB5ToRfcVhx2xn25uw/iIOpfzJBv0pS40ZGceiqMGz0CKWfxGUcWMN1GIybSKKuHDeha4j1YqCDC2w0lURdm6Grs2hXS0tzfgEaX44v9cG26gAAAABJRU5ErkJggg==) no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

